.hero {

    .colored-row {
        background-color: #754FFE;
    }

    img {
        width: 100%;
    }

    .bg-image {
        background-color: #754FFE;
    }
    .row {
        width: 100%;
    }
}