.hero {

    .colored-row {
        background-color: #754FFE;
    }

    img {
        width: 100%;
    }

    .bg-image {
        background-color: #754FFE;
    }
    .row {
        width: 100%;
    }

    @media screen and (min-width: 768px) {
        .colored-row {
            width: 50%;
        }

        .bg-image {
            width: 50%;
        }
    }
}